<div class="container mt-4">
  <div class="p-3 mb-4 bg-white rounded shadow">
    <h4 class="mb-3" style="color: #495057;">Server Filters</h4>
    <form class="row">
      <div class="col-md-4 mb-3 d-flex justify-content-around">
        <select class="form-select">
          <option value="">Select State</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <select class="form-select">
          <option value="">Select Location</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <select class="form-select">
          <option value="desc" selected="selected">Newest First</option>
          <option value="asc">Oldest First</option>
        </select>
      </div>
      <div class="col-12">
        <button class="btn btn-secondary mt-3" type="button">Clear Filters</button>
      </div>
    </form>
  </div>
  <div>
    <p>Server list goes here.</p>
  </div>
</div>