<div class="container-fluid" id="register-page">
  <div class="row justify-content-center w-50">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Register</div>

        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" formControlName="name" class="form-control"
                [ngClass]="{'is-invalid': f['name'].invalid && f['name'].touched}">
              <div *ngIf="f['name'].invalid && f['name'].touched" class="invalid-feedback">
                <strong *ngIf="f['name'].errors?.['required']">Name is required</strong>
                <strong *ngIf="f['name'].errors?.['minlength']">Name must be at least 3 characters</strong>
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" formControlName="email" class="form-control" (blur)="onEmailBlur()"
                [ngClass]="{'is-invalid': f['email'].invalid && f['email'].touched}">
              <div *ngIf="f['email'].invalid && f['email'].touched" class="invalid-feedback">
                <strong *ngIf="f['email'].errors?.['required']">Email is required</strong>
                <strong *ngIf="f['email'].errors?.['email']">Invalid email format</strong>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{'is-invalid': f['password'].invalid && f['password'].touched}">
              <div *ngIf="f['password'].invalid && f['password'].touched" class="invalid-feedback">
                <strong *ngIf="f['password'].errors?.['required']">Password is required</strong>
                <strong *ngIf="f['password'].errors?.['minlength']">Password must be at least 8 characters</strong>
                <strong *ngIf="f['password'].errors?.['pattern']">Password must contain at least one uppercase letter,
                  one number, and one special character</strong>
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>