<section class="price_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Our Pricing</h2>
    </div>
    <div class="price_container" *ngIf="pricingPlans.length">
      <div *ngFor="let plan of pricingPlans" class="box">
        <div class="detail-box">
          <h2>$ <span>{{ plan.price }}<sup>*</sup></span></h2>
          <h6>{{ plan.period | titlecase }}</h6>
          <ul class="price_features">
            <li>CPU up to {{ plan.cpu }} cores<sup>*</sup></li>
            <li>RAM up to {{ plan.ram }} GB<sup>*</sup></li>
            <li>Storage up to {{ plan.storage }} GB<sup>*</sup></li>
            <li>Network Speed up to {{ plan.network_speed }}<sup>*</sup></li>
            <li>Weekly Backups</li>
            <li>DDoS Protection</li>
            <li>Full Root Access</li>
            <li>24/7/365 Tech Support</li>
          </ul>
          <div class="btn-box">
            <a [routerLink]="plan.link">{{ plan.linkText }}</a>
          </div>
          <p class="small-text">*Pricing and specs depend on the region</p>
        </div>
      </div>
    </div>
  </div>
</section>