<app-service-component></app-service-component>
<app-about-component></app-about-component>

<section class="server_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="" class="img-box">
          <img src="assets/img/server-img.jpg" alt="">
          <div class="play_btn">
            <button>
              <i class="fa fa-play" aria-hidden="true"></i>
            </button>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Rent a Server
            </h2>
            <p>
              Rent a server from us and get the best value for your money. Our servers are fast, reliable,
              and secure. We offer 24/7 support and a 99.9% uptime guarantee.
            </p>
          </div>
          <a *ngIf="isAuthenticated; else loginLink" [routerLink]="isAuthenticated ? '/rent-server' : '/login'">
            Go to renting page
          </a>
          <ng-template #loginLink>
            <a [routerLink]="'/login'">
              Go to renting page
            </a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>

<app-pricing-details></app-pricing-details>
<app-testimonial></app-testimonial>
<app-contact-component></app-contact-component>