<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>About Us</h2>
          </div>
          <p>
            With a decade of experience in delivering excellence in cloud hosting, our team at Hostit is
            committed to providing you with the most reliable, secure, and performant hosting environment
            for your websites and applications. Our cutting-edge infrastructure is designed to scale with
            your business needs, ensuring you have the resources you need when you need them. We pride
            ourselves on our exceptional customer service, with expert support available around the clock to
            assist with any queries or concerns. Join the Hostit family and experience hosting as it
            should be - fast, secure, and customer-focused.
          </p>
          <a [routerLink]="['/about']">
            Read More
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="assets/img/about-img.png" alt="About Hostit">
        </div>
      </div>
    </div>
  </div>
</section>
